@charset "UTF-8";

@keyframes flutuando {
    0% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-10px)
    }


}

ul {
    margin-top: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    display: inline-block;
    text-align: center;
    margin: 0.5em 0;
    padding:0.1em;
    box-sizing:    border-box ;
    font-size: 24px ;
    font-variant:small-caps ;
}
html{
scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
background: radial-gradient( white,rgba(0, 0, 0, 0.705));

    text-align: center;
    overflow-x: hidden;
    letter-spacing: 1.5px;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
    font-size: 2em;
}

.parallax {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image:
        url(../img/Stars.png),
        url(../img/Background\ 1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.Moon {
   position: relative;
    background-image: url(../img/laptop1.svg);
    width: 60vw;
    height: 60vh;
    margin: auto;
    top: 25vh;
    padding-top: 10em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.Moon p {
    animation: flutuando 3s linear 1s infinite alternate;
    display: inline-block;
    box-sizing: border-box;

    text-shadow: 2px 2px 2px teal;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: auto;
   
    
    font-size: 38px;
}



.main-header {
    z-index: 1;
 position: fixed;	
    margin: 0;

    width: 100vw;

    background-color: rgba(28, 59, 59, 0.8);

    text-align: center;

}

.main-header-nav {
    margin-bottom: 0;

}

.main-header-nav ul {
    margin-bottom: 0;
    padding: 0;

}

.main-header-nav ul li:hover {


    background-image: url(../img/overlay.png);
}

.main-header-nav ul li a {
    text-shadow: wheat 1px 0px;
    font-size: 1.3em;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.25em;
    margin: 0.25em;
 
}


.Content-principal-section {
    box-sizing: border-box;
    text-align: center;
    padding-top: 15em;
   

}


.perfil {
    width: 10em;
    overflow: auto;
    border-radius: 50%;
    margin: 2% 25%;
}

section {
    box-sizing: border-box;
background: radial-gradient( white,rgba(0, 0, 0, 0.705));
    margin-left: 0;
    margin-right: 0;
    padding-top: 15em;
    min-width: 100vw;
    min-height: 100vh;
}


.skill-section-ul li {
    display: inline-block;

}

.skill-section-ul li img {
    animation: flutuando 2s cubic-bezier(0, 0, 0, 1) 2s infinite  alternate ;

    width: 5em;
    padding: 1em;
    margin: auto;
}


.icon-github {
    font-size: 44px;
    color: rgba(13, 46, 235, 0.4);
}

.icon-linkedin {
    font-size: 44px;
    color: rgba(13, 46, 235, 0.4);
}

.footer {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    color:white;
    background-image: url(../img/Stars.png),
        url(../img/Background\ 1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 5em;
}
.footer p{margin:0;
padding: 0;}
